= styles_for :account

= render 'title_bar'

.remote#create_account{ hidden }

.remote#options{ hidden }

.list#accounts
  - if @provider_views.any?
    = render @provider_views
  - else
    = render "shared/empty"

#paginate= render "shared/paginate_with_per_page"
#export= render "shared/export"