= styles_for :bank

.title_tools  
  = link_to_inline(:create_bank, new_admin_bank_path, :text => t(:create_bank))

.title
  %span#create_bank_title #{t :banks}
  = image_tag("loading.gif", :size => :thumb, :id => "loading", :style => "display: none;")

.remote#create_bank{ hidden }

.list#banks
  - if @banks.any?
    = render :partial => "bank", :collection => @banks
  - else
    = render "shared/empty"

#paginate= render "shared/paginate"
