%li.highlight[contact]

  %ul.tools
    = hook(:contact_tools_before, self, :contact => contact)

    - if can?(:update, contact)
      %li= link_to_edit(contact)

    - if shown_on_landing_page?
      %li= link_to_discard(contact)

    - if can?(:destroy, contact)
      %li= link_to_delete(contact)

  .indentslim
    =link_to(contact.full_name, {:action => :edit, :id => contact.id}, {:remote  => true, :onclick => "this.href = this.href.split('?')[0] + '?previous='+crm.find_form('edit_contact');"})    
    
    = hook(:contact_bottom, self, :contact => contact)
