
= hook(:contact_top_section, self, :f => f) do
  .section
    %table
      %tr
        %td
          .label.top.req{ :class => "#{Setting.require_first_names ? 'req' : nil}" } #{t :first_name}:
          = f.text_field :first_name
        %td= spacer
        %td
          .label.top{ :class => "#{Setting.require_last_names ? 'req' : nil}" } #{t :last_name}:
          = f.text_field :last_name
      %tr
        %td
          .label #{t :email}:
          = f.text_field :email
        %td= spacer
        %td
          .label #{t :phone}:
          = f.text_field :phone

   