.remote
  = form_for([:admin, @account_type], :html => one_submit_only(:account_type).merge({:autocomplete => 'off'}), :remote => true) do |f|
    = link_to_close edit_admin_account_type_path(@account_type)

    = f.error_messages :object_name => t('account_type')

    = render "admin/account_types/form", :f => f, :edit => true

    .buttonbar
      = f.submit t(:save_account_type)
      #{t :or}
      = link_to_cancel edit_admin_account_type_path(@account_type)
