.remote
  = simple_form_for(@product, :html => one_submit_only(:product), :remote => true) do |f|
    = link_to_close edit_product_path(@product)

    = f.error_messages :object_name => t('product')
    
    = render "products/top_section", :f => f, :edit => true 
    = fields_for(@account) do |a|
      = a.hidden_field :id
      = a.hidden_field :name    

    .buttonbar
      = f.submit t(:save_product), :onclick => "crm.save_product()"
      #{t :or}
      = link_to_cancel edit_product_path(@product)
